<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="accessories">
  <item label="calculator">
    <action name="Execute">
      <command>gnome-calculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="editors">
  <item label="atom">
    <action name="Execute">
      <command>atom</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>atom</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>


<menu id="apps-term-menu" label="terminals">
  <item label="urxvt">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="chromium">
  <action name="Execute">
    <command>chromium</command>
    <startupnotify>
      <enabled>yes</enabled>
      <wmclass>chromium</wmclass>
    </startupnotify>
  </action>
</item>
<item label="firefox">
  <action name="Execute">
    <command>firefox</command>
    <startupnotify>
      <enabled>yes</enabled>
      <wmclass>Firefox</wmclass>
    </startupnotify>
  </action>
</item>
</menu>

<menu id="apps-office-menu" label="office">
  <item label="OpenOffice Base">
    <action name="Execute">
      <command>ooffice -base</command>
    </action>
  </item>
  <item label="OpenOffice Calc">
    <action name="Execute">
      <command>ooffice -calc</command>
    </action>
  </item>
  <item label="OpenOffice Draw">
    <action name="Execute">
      <command>ooffice -draw</command>
    </action>
  </item>
  <item label="OpenOffice Impress">
    <action name="Execute">
      <command>ooffice -impress</command>
    </action>
  </item>
  <item label="OpenOffice Math">
    <action name="Execute">
      <command>ooffice -math</command>
    </action>
  </item>
  <item label="OpenOffice Printer Administration">
    <action name="Execute">
      <command>ooffice-printeradmin</command>
    </action>
  </item>
  <item label="OpenOffice Writer">
    <action name="Execute">
      <command>ooffice -writer</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="multimedia">
  <item label="Amarok">
    <action name="Execute">
      <command>amarok</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Rhythmbox">
    <action name="Execute">
      <command>rhythmbox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Totem">
    <action name="Execute">
      <command>totem</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="file managers">
  <item label="thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="graphics">
  <item label="gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Gwenview">
    <action name="Execute">
      <command>gwenview</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Dia Diagram Editor">
    <action name="Execute">
      <command>dia</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="system">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Xfce Settings">
    <action name="Execute">
      <command>xfce-setting-show</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="applications" />
  <item label="urxvt">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
  <item label="thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="chromium">
  <action name="Execute">
    <command>chromium</command>
    <startupnotify>
      <enabled>yes</enabled>
      <wmclass>chromium</wmclass>
    </startupnotify>
  </action>
</item>
  <item label="atom">
    <action name="Execute">
      <command>atom</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>atom</wmclass>
      </startupnotify>
    </action>
  </item>
    <separator label="menus" />
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
